* {
  box-sizing: border-box;
  border-collapse: collapse;
}
body {
  background-color: grey;
  margin: 50px;
  width: 80%;
  height: 80%;
}
table, tr, td {
  border-collapse: collapse;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.resume {
  margin-left: 30px;
  background-color: blue;
  width: 60px;
  height: 50px;
  color: white;
}
.header {
  display: flex;
  margin-top: auto;
  padding-top: auto;
}
.page {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 60px;
}
table {
  width: 100%;
  height: 100%;
}
h1 {
  color: blue;
  font-size: 60px;
  display: inline;
  padding: 30px;
}
h2 {
  font-size: 25px;
  margin: 0;
  padding-left: 30px;
}
h3 {
  color: blue;
  font-size: 20px;
  margin-bottom: 0px;
}
h4 {
  color: blue;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  display: table-cell;
  vertical-align: top;
}
h5 {
  font-size: 12px;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 4px;
}
h6 {
  color: blue;
  font-size: 15px;
  vertical-align: top;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

}
.date {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 60px;

}

td.fct {
  display: table-cell;
  vertical-align: top;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

}
p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 15px;

}
.resume p {
  text-align: center;
  padding-top: 20px;
}
.text {
  padding-bottom: 40px;
}
.work, .play {
  width: 70px;
  height: 70px;
  background-color: blue;
  transform: rotate(-65deg);
  color: white;
  text-align: center;
}
